#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}

.count_events {
  font-size: 14px;
  background-color: #3880e2;
  border: 1px solid #ccc;
  display: block;
  color: #fff;
}

#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}

#calendar2 tbody td {
  position: relative;
  opacity: 0.9;
  text-align: left;
  padding: 10px;
  vertical-align: top;
  height: 150px;
  width: 140px;
  border: 1px solid #ccc;
  color: #2c567a;
}

#calendar2 tbody td:focus {
  background: #FA6;
}

#calendar2 tbody td.today {
  background-color: #3880e2;
  color: #fff;
}

#calendar2 thead tr:last-child {
  font-size: small;
  color: #555555;
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: #323232;
}

* {
  font-family: sans-serif;
  outline: none;
}

.btn {
  background-color: #3880e2;
  color: #fff;
}

.event_select:hover {
  cursor: pointer;
}

.search-block {
  display: none;
  position: absolute;
  width: 320px;
  height: 50vh;
  right: 10%;
  background-color: #fff;
  z-index: 3;
  -webkit-box-shadow: 0 0 11px black;
  box-shadow: 0 0 11px black;
  overflow: auto;
}

.search-block_found {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.search-block_found-title {
  font-weight: 700;
}

.overlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
}

.overlay-c {
  height: 100%;
  width: 100%;
}

.overlay-popup {
  z-index: 3;
  top: 0;
  left: 100%;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0 11px black;
  box-shadow: 0 0 11px black;
  width: 320px;
  padding: 20px;
  z-index: 4;
}

.overlay-popup_close {
  position: absolute;
  right: 10px;
  top: 3px;
  width: 10px;
  height: 10px;
}

.overlay-popup_close:hover {
  cursor: pointer;
}

.overlay-popup_close img {
  width: 100%;
}

.overlay-popup input {
  display: block;
  margin-bottom: 10px;
}

.overlay-popup label {
  display: block;
  margin-left: 0;
  text-align: left;
  font-size: 14px;
  opacity: 0.7;
}

.overlay-popup button {
  float: left;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 10px;
}

.overlay-popup textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.day_title {
  width: 100%;
  border: solid 1px transparent;
  font-size: 20px;
  font-weight: 700;
}

.day_title_sm {
  font-size: 15px;
  font-weight: 600;
}

.day_date {
  width: 100%;
  border: solid 1px transparent;
  margin-left: 0;
}

.day_descr {
  width: 100%;
  border: solid 1px transparent;
}

.day_participants {
  border: solid 1px transparent;
  width: 100%;
}

.day_participants_sm {
  font-size: 12px;
}

.calendar-header {
  background-color: #f1f1f1;
  padding-bottom: 20px;
  padding-top: 30px;
}

.calendar-header__btns {
  margin-left: 0;
  margin-right: auto;
}

.calendar-header__input {
  margin-top: 5px;
  margin-left: auto;
  margin-right: 0;
}

.calendar-header__input-block {
  display: block;
  position: relative;
}

.calendar-header__input-block:before {
  position: absolute;
  content: '';
  display: block;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: transparent url("../img/search.svg") center no-repeat;
  background-size: cover;
  left: -30px;
  top: 10px;
}

.calendar-body {
  padding-top: 20px;
}

.calendar-body__slider {
  margin-bottom: 20px;
}

.calendar-body__slider-currentDate {
  min-width: 130px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.calendar-body__slider__btn {
  vertical-align: middle;
  height: 35px;
  font-size: 13px;
  line-height: 100%;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calendar-body__slider__btn_left {
  width: 35px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 8px;
}

.calendar-body__slider__btn_left img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.calendar-body__slider__btn_right {
  width: 35px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 8px;
}

.calendar-body {
  padding-bottom: 210px;
}

@media (max-width: 769px) {
  .day_title_sm {
    display: none;
  }

  .day_participants_sm {
    display: none;
  }

  .day_btn {
    display: none;
  }

  #calendar2 tbody td {
    height: 50px;
  }

  .overlay-popup {
    position: fixed;
    -webkit-transform: translateX(160px);
    transform: translateX(160px);
    max-width: 320px;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
  }

  .calendar-header__input {
    width: 100%;
  }
}