#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover
	cursor: pointer

#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday
.count_events
	font-size: 14px
	background-color: #3880e2
	border: 1px solid #3880e2
	width: 100%
	display: block
	color: #fff
#calendar2
	width: 100%
	font: monospace
	line-height: 1.2em
	font-size: 15px
	text-align: center
	tbody
		td
			position: relative
			opacity: 0.9
			text-align: left
			padding: 10px
			vertical-align: top
			height: 150px
			width: 140px
			border: 1px solid #ccc
			color: rgb(44, 86, 122)
			&:focus
				background: #FA6
			&.today
				background-color: #3880e2
				color: #fff
	thead
		tr
			&:last-child
				font-size: small
				color: rgb(85, 85, 85)
			&:nth-child(1)
				td
					&:nth-child(2)
						color: rgb(50, 50, 50)
*
	font-family: sans-serif
	outline: none
.btn
	background-color: #3880e2
	color: #fff
	&-o
.event_select
	&:hover
		cursor: pointer
.search-block
	-webkit-animation-name: search-e
	animation-name: search-e
	-webkit-animation-duration: 0.4s
	animation-duration: 0.4s
	display: none
	position: absolute
	width: 320px
	height: 50vh
	right: 5%
	background-color: #fff
	z-index: 3	
	box-shadow: 0 0 11px black
	overflow: auto
	&_found
		border-bottom: 1px solid #ccc
		padding: 10px
		&-title
			font-weight: 700
.overlay
	position: fixed
	display: none
	height: 100%
	width: 100%	
	top: 0
	z-index: 2
	&-c
		height: 100%
		width: 100%	
	&-popup
		-webkit-animation-name: popup-e
		animation-name: popup-e
		-webkit-animation-duration: 0.4s
		animation-duration: 0.4s
		z-index: 3
		top: 0
		left: 100%
		position: absolute
		background-color: #fff
		box-shadow: 0 0 11px black
		width: 320px
		padding: 20px
		z-index: 4	
		&_close
			position: absolute
			right: 10px
			top: 3px
			width: 10px
			height: 10px
			&:hover
				cursor: pointer
			img
				width: 100%
		input
			display: block
			margin-bottom: 10px
		label
			display: block
			margin-left: 0
			text-align: left
			font-size: 14px
			opacity: 0.7	
		button
			float: left
			font-size: 14px
			border: 1px solid #ccc
			background-color: transparent
			border-radius: 5px
			margin-right: 10px
		textarea
			display: block
			margin-top: 10px
			margin-bottom: 10px
.day
	&_title
		width: 100%
		border: solid 1px transparent
		font-size: 20px
		font-weight: 700
		&_sm
			font-size: 15px
			font-weight: 600
	&_date
		width: 100%
		border: solid 1px transparent
		margin-left: 0
	&_descr
		width: 100%
		border: solid 1px transparent
	&_participants 
		border: solid 1px transparent
		width: 100%
		&_sm
			font-size: 12px
.calendar
	&-header
		background-color: #f1f1f1
		padding-bottom: 20px
		padding-top: 30px
		&__btns
			margin-left: 0
			margin-right: auto
		&__input
			margin-top: 5px
			margin-left: auto
			margin-right: 0
			&-block
				display: block
				position: relative
				&:before
					position: absolute
					content: ''
					display: block
					z-index: 2
					width: 20px
					height: 20px
					background: transparent url('../img/search.svg') center no-repeat
					background-size: cover
					left: -30px
					top: 10px
	&-body
		padding-top: 20px
		&__slider
			margin-bottom: 20px
			&-currentDate
				min-width: 130px
				text-align: center
				display: inline-block
				margin-left: 10px
				margin-right: 10px
				vertical-align: middle
			&__btn
				vertical-align: middle
				height: 35px
				font-size: 13px
				line-height: 100%
				background-color: transparent
				border: 1px solid #ccc
				border-radius: 5px
				&_left
					width: 35px
					padding: 10px
					padding-top: 0
					padding-bottom: 0
					line-height: 8px
					img
						transform: rotate(180deg)
				&_right
					width: 35px
					padding: 10px
					padding-top: 0
					padding-bottom: 0
					line-height: 8px
	&-body
		padding-bottom: 210px
@media (max-width: 769px)
	.search-block
		right: 0
	.day
		&_title
			&_sm
				display: none
		&_participants 
			&_sm
				display: none
		&_btn
			display: none
	#calendar2
		tbody
			td
				height: 50px
	.overlay
		&-popup
			position: fixed
			max-width: 320px
			left: 0 !important
			top: 0 !important
			width: 100% !important
	.calendar
		&-header
			&__btns
			&__input
				width: 100%
@keyframes popup-e
	from 
		opacity: 0
	to
		opacity: 1

@-webkit-keyframes popup-e
	from 
		opacity: 0
	to
		opacity: 1
@keyframes search-e
	from 
		opacity: 0
		transform: translateX(100px)
	to
		opacity: 1
		transform: translateX(0px)

@-webkit-keyframes search-e
	from 
		opacity: 0
		transform: translateX(100px)
	to
		opacity: 1
		transform: translateX(0px)
